# Environments
.env
.venv
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Data & DB (Do not commit raw PDFs or Vector DB)
data/raw_pdfs/*
data/processed/*
vector_db/

# OS Files
.DS_Store
Thumbs.db
